@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-primary-dark: #0284c7;
  --color-secondary: #8b5cf6;
  --color-secondary-dark: #7c3aed;

  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}


@media print {

  @page {
    size: A4;
    margin: 10mm;
  }

  body * {
    visibility: hidden !important;
  }

  #print-payroll-slip-section,
  #print-payroll-slip-section *,
  #doctor-income-print,
  #doctor-income-print *,
  #prescription-print,
  #prescription-print *,
  #invoice-print,
  #invoice-print * {
    visibility: visible !important;
  }

  /* #prescription-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  } */

  #prescription-print {
    position: fixed;
    inset: 0;
    width: 210mm;
    min-height: 297mm;
    margin: auto;
    background: white;
    overflow: hidden;
  }

  /* #doctor-income-print {
    position: fixed;
    inset: 0;
    width: 210mm;
    min-height: 297mm;
    margin: auto;
    background: white;
    overflow: hidden;
  } */

  .no-print {
    display: none !important;
  }

}

/* @media print {

  @page {
    size: A4;
    margin: 10mm;
  }

  body {
    margin: 0;
    background: white;
  }

  .no-print {
    display: none;
  }

} */